output/
*_my.py
*_my.sh
*_my.txt
*.json
images_old/
crops_dataset/
llm_related/
hostfiles/
internal_scripts/
bbox/
log/
old/
bbox_pure/
datamy/
logs/
myeval/
*.log
*.ckpt
*.pth
*.bin
*.npy
*.npz
*.zip
*.tar.gz
*.env
*.venv
*.egg-info/
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*.bak
*.whl
*.tmp
src_old/
src_raw/
wandb/
tmp0i9gpzsy/
src/gen_data/
tmp.py